/*Header Formatting*/
h1 {
  background-color: #e3b9b8;
  text-align: center;
  font-family:helvetica;
  border-style: double;
  letter-spacing: 20px;
  }
div {
  margin-top: 100px;
  margin-bottom: 200px;
  border-style: double;
  }
h2{
    text-align:center;
  }

/*Link Formatting*/
a:link{
  color: #008080;
}
a:visited{
  color: #9c353a;
}
a:active{
  color: #71d6fd;
}
a:hover{
  color: #198c8c
}


div1{
    border-style:solid;
    margin: 50px 50px 50px 50px;
    padding: 20px 20px 20px;
}

body {
  background-color: #f7cac9;
  padding: 10px 10px 10px 10px;
  font-family:helvetica;
  letter-spacing: 5px;
}

table{
  border: 1px solid black;
  text-align: left;
  padding: 20 px;
}
tr{
  height: 50px;
}
